body {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to right, aliceblue, navy);
    text-align: center;
    padding: 20px;
    color: white;
}

h1, h3, h4 {
    font-weight: bolder;
}

.search-content {
    display: flex;
}

.content-left {
    width: 30%;
}

.content-right {
    width: 70%;
}

#clearHistoryBtn {
    margin-left: 15px;
}

.five-day-container {
    padding: 20px;
}

.cards-forecast {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.card {
    width: 18%;
    background-color: #193B5C;
    color: white;
}

.btn-custom {
    width: fit-content;
    margin-left: 15px;
    margin-top: 10px;
}

img {
    width: auto;
    height: auto;
} 

.severe {
    padding: 5px;
    background-color: red;
    color:white;
}

.moderate {
    padding: 5px;
    background-color: yellow;
}

.favorable {
    padding: 5px;
    background-color: green;
    color:white;
}

input {
    height: 40px;
    width: auto;
}

.city-name {
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    .search-content {
        flex-direction: column;
    }

    .content-left, .content-right {
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .cards-forecast {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
